{% extends "base.html" %}
{% load static %}

{% block css %}
    <!-- Latest compiled and minified Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}" />

    <!-- Your stuff: Third-party CSS libraries go here -->
    <!-- This file stores project-specific CSS -->
  <link href="{% static 'css/project.css' %}" rel="stylesheet">
{% endblock %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
{% block javascript %}
      <!-- Bootstrap JS -->
  <script defer src="{%  static 'js/vendor/bootstrap.min.js' %}"></script>
      <!-- Your stuff: Third-party javascript libraries go here -->

      <!-- place project specific Javascript in this file -->
  <script defer src="{% static 'js/project.js' %}"></script>

{% endblock javascript %}
