{% extends "base.html" %}
{% load i18n %}
{% block extratitle %}{% blocktranslate %}Quote {{ quote.id }} from {{ quote.character.name }}{% endblocktranslate %} - {% endblock %}
{% block content %}
<h1>{% blocktranslate %}Quote {{ quote.id }} from {{ quote.character.name }}{% endblocktranslate %}</h1>
<blockquote>{{ quote.quote_rendered }}</blockquote>
<a href="{% url 'quotes:quote_update' id=quote.id %}" class="btn btn-primary">{% translate "Edit" %}</a> <a href="{% url 'quotes:quote_list' character=quote.character.slug %}" class="btn btn-secondary">{% translate "Back to quote list" %}</a>
<p><a href="{% url 'quotes:quote_delete' id=quote.id %}" class="btn btn-danger">{% translate "Delete" %}</a></p>
{% endblock %}
