{% extends "base.html" %}
{% load i18n %}
{% block extratitle %}{% blocktranslate %}Quotes from{% endblocktranslate %} {{ character.name }} - {% endblock %}
{% block content %}
<h1>{% blocktranslate %}Quotes from {% endblocktranslate %} {{ character.name }}</h1>

<p><a href="{% url 'quotes:quote_create' character=character.slug %}" class="btn btn-success">{% translate "Add quote" %}</a></p>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">{% translate "Quote" %}</th>
    <th scope="col">{% translate "Tools" %}</th>
  </tr>
  </thead>
  <tbody>
  {% for quote in page_obj %}
  <tr>
    <th scope="row"><a href="{% url 'quotes:quote_detail' quote=quote.id %}">{{ quote.id }}</a></th>
    <td>{{ quote.quote_rendered|safe }}</td>
    <td><a href="{% url 'quotes:quote_update' quote=quote.id %}" class="btn btn-primary">{% translate "Edit" %}</a> <a href="{% url 'quotes:quote_delete' quote=quote.id %}" class="btn btn-danger">{% translate "Delete" %}</a></td>
  </tr>
  {% empty %}
    <tr>
    <th scope="row"></th>
    <td>{% translate "No quotes found!" %}</td>
    <td></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<nav aria-label="Page navigation">
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page=1">&laquo; {% trans "First" %}</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
    {% endif %}
    <li class="page-item active" aria-current="page">{{ page_obj.number }}</li>
    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.num_pages }}">{% trans "Last" %} &raquo;</a></li>
    {% endif %}
  </ul>
  </nav>
{% endblock %}
